
#main {
    margin-top:4px;
    /*background-color:rgb(47,47,47);*/
    color:white;
}


.d3-main-svg {
}


.info {
    margin-top:78px;
    color:rgb(200,200,200);
}


body {
    background-color:rgb(27,27,27) !important;
}

.node .selected2 {
    font-weight:bold;
    fill: #bd6100;
}

.node {
  cursor: pointer;
  background:red;
}

.node circle {
  fill: #1f1;
  stroke: #bd6100;
  stroke-width: 2.0px;
}

.node text {
  font: 11px sans-serif;
  /*fill:#00778f;*/
  fill:#2299bf;
}

.larger {
  font: 18px sans-serif !important;
}

.link {
  fill: none;
  stroke: #242;
  stroke-opacity: .8;
  stroke-width: 2.0px;
}

.hlink {
  fill: none;
  stroke: #842;
  stroke-opacity: .8;
  stroke-width: 4.0px;
}

.hlink2 {
  fill: none;
  stroke: #a4a;
  stroke-opacity: .8;
  stroke-width: 2.0px;
}

.clear {clear: both;}
